#main {
  display: flex;
  gap: 20px;
}

#book-table-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}
#book-table-container caption {
  font-size: 30px;
  font-weight: 800;
  padding: 10px;
  height: 90px;
}

#book-table {
  /* background-color: aqua; */
  line-height: 60px;
  font-size: 18px;
  height: 100%;
  position: relative;
}
#book-table th {
  text-align: left;
  background-color: rgb(140, 198, 140);
}
#book-table table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#book-table table tbody td {
  width: 180px;
}

#table-img {
  height: 80px;
  width: 100px;
}

#search-box {
  position: absolute;
  left: 50%;
  top: 60px;
}
#search-input {
  height: 32px;
  width: 300px;
  border: solid 0.5px;
  border-right: none;
  outline: none;
}
#search-submit {
  height: 33px;
  width: 60px;
  background-color: transparent;
  border: solid 0.5px;
  border-left: none;
  cursor: pointer;
}

#action {
  display: flex;
  gap: 4px;
  margin-left: 2px;
}

#pagination-button {
  width: 80px;
  height: 50px;
  font-size: 20px;
}
